
.auth-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.auth-card {
    border: 1px solid black;
    padding: 20px;
    width: 300px;
}

.auth-card h1 {
    margin: 0 0 15px 0;
    font-size: 24px;
    text-align: center;
}

.auth-form {
    display: flex;
    flex-direction: column;
}

.auth-form label {
    margin-bottom: 10px;
}

.auth-form input {
    display: block;
    width: 100%;
    margin-top: 5px;
    box-sizing: border-box;
}

.auth-button {
    margin-top: 10px;
    cursor: pointer;
}

.error-text {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}