.private-chat-wrapper {
    max-width: 600px;
    margin: 20px auto;
    padding-top: 20px;
}

.private-chat-header {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.private-chat-header h2 {
    margin: 0;
    font-size: 1.2rem;
}

.delete-chat-btn {
    cursor: pointer;
    border: 1px solid black;
    background: white;
    padding: 5px 10px;
    font-size: 12px;
}

.delete-chat-btn:hover {
    background: #f0f0f0;
}
